#signup , #login{ /*회원가입 다이얼로그 , 로그인 다이얼로그*/
    display : flex ;
    justify-content: center;
    align-items:center;
    position:fixed;
    width: 100vw;
    height : 100vh;
    left:0;
    font-family: 'Nanum Gothic', sans-serif;
    top : 0;
    background-color: #33333399;

    
}

#signup_dialog, #login_dialog{ /*회원가입 다이얼로그 박스*/
    text-align : center ;
    background-color:white;
    padding : 0 30px;
    border: none;
    width : 30vw;
    height : 50vh;
    position: relative;
    border-radius: 20px;
}

#signup_title, #login_title{ /*제목*/
    margin : 30px 0;
   
    color : black;
    font-size: 2em;
}

#new_userinfo, #idandpw{

    height : 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#new_userinfo > input, #idandpw > input{ /*input css*/
    display : block;
    height: 52px;
    margin : 10px 0;
    width : 70%;
    border: 1px solid #ccc;
    padding: 0 15px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#new_userinfo > input:focus{
    
    border:2px solid #007C89;
}

#signup_event{ /*회원가입 버튼 wrap*/
   display: flex;
   justify-content: center;
   align-items: center;

   height  :30%;
   bottom : 0;
}

#signup_event button, #login_event_area button{ /*회원가입 버튼 css*/
    position: relative;
    width: 30%;
    margin : 0 5px;
    height: 40px;

    background: #ffe500;
    cursor: pointer;

    border:none;
    padding: 0;
    border-radius: 4px;
    font-size: 15px;
}

.cancel_btn{ /*취소 btn css */
    position: absolute;
    right : 0;
    top : 0;
   
    
    border: none;
    cursor:pointer;
    width : 50px;
    height : 50px;
    background : none;
    
    
}

.cancel_btn > img {
    position: absolute;
    right : 0;
    top : 0;
    width : 50px;
    height : 50px;
    
}


 { /*input css*/
    display : block;
    height: 39px;
    margin-top: -2px;
    border: 1px solid #ccc;

    ime-mode: inactive;
    line-height: 39px;
}

#login_event_area{ /*로그인 버튼 wrap*/
    margin : 30px 0;
}

