.imageview{ /*image box*/
    position : fixed;
    display:flex;
    bottom:9%;
    right: 18%;

    width : 270px;
    height : 400px;

    overflow: auto;
    text-align: center;
}

#image1 { /*좌측 이미지*/
    width : 50%;

    height : auto;
}

#image2 {/*우측 이미지*/
    width : 50%;

    height : auto;

}

#movieimage{ /*이미지 wrap*/

    border-right : 1px solid #e5e5e5;
    border-bottom : 2px solid #e5e5e5;
    display:flex;
    align-items: center;
    justify-content: center;


}

#movieimage_content{ /*이미지*/
    width : 90%;
    height : 90%;
    padding : 5px;
    cursor:pointer;
}
