#main_information{ /*메인 화면*/
    width : 70vw;
    height: 100vh;
    margin-left: 15vw;
    box-shadow: 10px 0 15px -10px inset #777777;
    background:#ffffff;
    overflow-y:auto;
    font-family: AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    font-size: 14px;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#now_in_theaters{ /*movie_poster wrap*/


    width : 50vw;
    height :85vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;


}

.main_poster_box{ /*각각의 포스터 박스(이름 + 포스터)*/

    margin : 5px 5px;
    border-bottom:2px solid #dedede;
    width : 18%;
    height :40%;
    display:block;

    position: relative;
    overflow-x: hidden;
}

.main_poster{ /*포스터*/

    width: 100%;
    height : 90%;
    cursor: pointer;


}

.main_poster_name{ /*타이틀*/

    position: absolute;
    bottom:6px;
    margin-left:5px;

    font-size: 14px;
    line-height: 20px;
    width: 100%;
    color: #231f20;
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}



#main_title{ /*현재 상영작 div*/
    display: block;
    width: 175px;
    height: 50px;
    margin-left: 1px;
    background: #231f20;
    color: #cdc197;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;

}

#main_poster_page{ /*버튼 wrap*/

    margin-top : 15px;
    background:none;
    border:none;

}

.main_poster_page_btn{ /*버튼*/
    background-color:#CDCFCE;
    border-radius: 5px;
    width:30px;
    height:30px;
    font-weight: bold;
    margin-bottom : 15px;
    color:#000000;
}



