body
{
    margin: 0;
    padding: 0;


    /* make it look decent enough */

    font-family: 'NanumSquare',sans-serif;

}

a
{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}


a:hover
{
    color: tomato;
}


#navi{

    position: absolute;
    width: 15vw;
    margin: -100px 0 0 -50px;
    padding-left: 50px;
    padding-top: 125px;
    height: 97.4vh;
    overflow-y : auto   ;
    background: #cff09e;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;




}

#navi ul{

    transform: none;
    margin-left : 20px;
    padding : 20px;
    list-style-type : none;


}

#navi li{

    padding: 10px 0;
    font-size: 25px;

}

#movie_information{

    width : 85vw;
    height: 100vh;
    margin-left: 15vw;
    box-shadow: 10px 0 15px -10px inset #777777;
    background:#a8dba8;
    overflow-y:auto;
    font-family: AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    font-size: 14px;



}

#mv_info1{
    visibility: hidden;
}


.actor{

    position: relative;
    width : 71%;
    height : 40vh;
    background-color: white;
    top : 55vh;
    margin-left: 4.1%;
    margin-right: 4.1%;
    overflow-y: auto;
}

.menubox{
    position: fixed;
    width : 60.35%;
    background-color : black;
    height : 5vh;
}

#main_moviepg{

    width : 100px;
    height : 100px;
    margin-left : 100px;
    margin-top : 100px;
    background: #000000;
}

#select_moviepg{
    visibility: hidden;
    width : 100px;
    height : 100px;
    background: #ff0000;
}

.poster{

    width : 12.3%;
    height : 35.1%;
    position: fixed;
    left : 18.5vw;
    top :5vh;

}


.mv_subject{

    width : 100%;
    color: rgb(42, 42, 42);
    font-size: 14px;
    position: fixed;
    left : 32vw;
    top : 5vh;
}

.mv_sub_info{
    margin-top : 0.5%;
    line-height: 180%;
}

.mv_sub_info2{
    margin-top : 0.5%;
    border : 3px solid #FFF09E;
    width : 40vw;
    padding : 0.7%;
    height : 11vh;
    border-radius: 16px;
    overflow-y: auto;

}


.mv_ranking{
    margin-top : 0.5%;
    font-size: 16px;

}

#ticketbtn{
    color: #fff;
    background-color: #ff382e;
    cursor: pointer;
    font-family: AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    float: left;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 5%;
    height: 10%;
    line-height: 35px;
    margin-top : 0.6%;
    border: 0;

}



::-webkit-scrollbar-track {
    background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
